<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Create User Page</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container">
        <form class="" action="/users" method="POST">
            <div class="grid">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="grid">
                <input type="text" name="messages" placeholder="Messages">
            </div>
            <input type="submit" value="Submit">
        </form>
    </main>
</body>

</html>